/* footer */
/** footer **/

footer {
  background: white;
  padding: 90px 0 70px;
}

.logo_footer {
  margin-bottom: 30px;
}

.information_f p {
  margin-bottom: 1.2rem;
  line-height: 25px;
  font-size: 15px;
}

.widget_menu h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-bottom: 25px;
}

.widget_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget_menu ul li {
  float: left;
  width: 100%;
}

.widget_menu ul li a {
  font-size: 15px;
  color: #000;
  margin-bottom: 0;
  float: left;
  width: 100%;
  margin-top: 5px;
}

.field {
  display: flex;
}

.widget_menu {
  float: left;
  width: 100%;
}

div.form_sub .field input[type="email"],
div.form_sub .field input[type="email"]:hover,
div.form_sub .field input[type="email"]:focus {
  padding: 10px 110px 10px 15px;
  border-radius: 0;
  border: solid white 1px;
  font-size: 14px;
  position: relative;
  box-shadow: none;
  width: 100%;
  height: 48px;
}

.form_sub {
  position: relative;
}

.form_sub input[type="email"] + input[type="submit"] {
  position: absolute;
  right: 0;
  background: #f7444e;
  color: #fff;
  border: none;
  top: 0px;
  font-size: 14px;
  height: 48px;
  font-weight: 600;
  padding: 0 15px;
}

form input {
  background: #fff;
  border: solid #ccc 1px;
  padding: 15px 15px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: capitalize;
  line-height: normal;
}

form textarea {
  background: #fff;
  border: solid #ccc 1px;
  padding: 15px 15px;
  width: 100%;
  min-height: 150px;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: capitalize;
  line-height: normal;
}

form input[type="submit"] {
  border: none;
  padding: 15px 45px;
  width: auto;
  font-size: 16px;
  text-transform: capitalize;
  line-height: normal;
  margin: 0 auto;
  display: flex;
  background: #333;
  color: #fff;
  font-weight: 600;
  transition: ease all 0.1s;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background: #f7444e;
  color: #fff;
}

/** cpy **/

.cpy_ {
  background: #222;
  text-align: center;
  padding: 20px 0;
}

.cpy_ p {
  margin: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.cpy_ p a {
  margin: 0;
  color: #f7444e;
  font-size: 15px;
  font-weight: 400;
}
